@using Microsoft.AspNetCore.Identity
@using Core.Domain

@model IEnumerable<Post>

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var post in Model)
{
    <h2><a asp-action="Details" asp-route-id="@post.Id">@post.Title</a></h2>
    <div class="time">26 Aug, 2015</div>
    <p class="list-group-item-text">@post.Description</p>
}