@using Microsoft.AspNetCore.Identity
@using Core.Domain

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<hr />
<p class="no-margin">
    I'm Robin McKavanagh from Queensland, Australia. I'm an electrical engineer turned software developer. My work involves:
</p>
<ul class="paragraph-list">
    <li>ASP.NET Webforms</li>
    <li>Classic ASP</li>
    <li>Javascript & jQuery</li>
    <li>HTML & CSS</li>
    <li>Oracle & MySQL</li>
</ul>
<p>
    This site is intended to be a storage place for my tinkering in different software technologies, predominantely csharp.
</p>